<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h2>Proyecto SBC</h2>
            <ul>
                <li>
                    Cristian Gaona
                </li>
                <li>
                    Estevan Atiencia
                </li>
            </ul>

        </div>
        <!--   <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a0/Europe_on_the_globe_%28red%29.svg/1200px-Europe_on_the_globe_%28red%29.svg.png" alt="Soufiane FADIL">-->
    </div>

    <mat-divider></mat-divider>

    <h2 matSubheader>Pages</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Tablero</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/posts">Investigación</a>


    <mat-divider></mat-divider>

    <h2 matSubheader>Herramientas</h2>
    <ul>
        <li>JENA 3.15</li>
        <li>JAVA 8</li>
        <li>SPRING BOOT 2.0 </li>
        <li>ANGULAR 10</li>
        <li>VIRTUOSO 7.0</li>
    </ul>
    

   

</mat-nav-list>